{:kotoba.app/id "cloud.itonami.isic-2812", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifwugai7rtqhnionts5b7cxt6s2gr7pu4cmxi25arvwbu67brlzs4", :kotoba.app/embed-url "ipfs://bafkreifwugai7rtqhnionts5b7cxt6s2gr7pu4cmxi25arvwbu67brlzs4", :published {:archive "https://kotobase.net/ipfs/bafkreifwugai7rtqhnionts5b7cxt6s2gr7pu4cmxi25arvwbu67brlzs4", :size 72830, :put-status 201, :get-status 200, :at "2026-08-15T14:03:17.036Z"}}
